@import './style';

.wp-block-gutenbee-product-tabs {
  box-sizing: border-box;

  &.wp-block-gutenbee-product-tabs-left {
    .wp-block-gutenbee-product-tabs-nav {
      .block-editor-inner-blocks > div {
        justify-content: flex-start;
      }
    }
  }

  &.wp-block-gutenbee-product-tabs-center {
    .wp-block-gutenbee-product-tabs-nav {
      .block-editor-inner-blocks > div {
        justify-content: center;
      }
    }
  }

  &.wp-block-gutenbee-product-tabs-right {
    .wp-block-gutenbee-product-tabs-nav {
      .block-editor-inner-blocks > div {
        justify-content: flex-end;
      }
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  .wp-block-gutenbee-product-tabs-nav {
    .block-editor-inner-blocks > div {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 10px;

      > div {
        margin: 0;
      }
    }

    li {
      border: 2px solid black;
      padding: 7px 30px;
      cursor: pointer;
    }
  }

  .gutenbee-product-tabs-content {
    row-gap: 0;

    &.active {
      flex-wrap: wrap;
      position: relative;
    }

    a {
      pointer-events: none;
    }
  }
}
