.wp-block-gutenbee-product-tabs {
  &.wp-block-gutenbee-product-tabs-left {
    .wp-block-gutenbee-product-tabs-nav {
      justify-content: flex-start;
    }
  }

  &.wp-block-gutenbee-product-tabs-center {
    .wp-block-gutenbee-product-tabs-nav {
      justify-content: center;
    }
  }

  &.wp-block-gutenbee-product-tabs-right {
    .wp-block-gutenbee-product-tabs-nav {
      justify-content: flex-end;
    }

    .slick-arrow {
      right: auto;
      left: 15px;

      &.slick-prev {
        transform: translateY(-100%);
      }

      &.slick-next {
        transform: translate(calc( 100% + 5px ),-100%);
      }
    }
  }

  .wp-block-gutenbee-product-tabs-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;

    li {
      border: 2px solid black;
      cursor: pointer;
      margin: 0;
      padding: 7px 30px;
    }
  }

  .gutenbee-product-tabs-content {
    height: 0;
    visibility: hidden;
    row-gap: 40px;

    &.active {
      height: auto;
      visibility: visible;
    }
  }

  .wp-block-gutenbee-product-tabs-no-products {
    padding: 30px;
    text-align: center;
  }

  .gutenbee-row-columns-1 {
    text-align: center;

    .woocommerce-loop-product__link {
        display: inline-block;
    }
  }

  .slick-arrow {
    position: absolute;
    right: 15px;
    top: -30px;
    transform: translateY(-100%);
    width: 40px;
    height: 40px;
    font-size: 12px;
    border: 1px solid #000000;
    background: #FFFFFF;
    cursor: pointer;
    z-index: 10;

    &.slick-prev {
      transform: translate(calc( -100% - 5px ),-100%);
    }

    svg {
      display: block;
      height: 30px;
      line-height: 0;
      margin: 0 auto;
    }
  }
}

.gutenbee-product-tabs-item {
  > .woocommerce-loop-product__link {
   display: block;
   line-height: 0;
   margin-bottom: 20px;
   position: relative;

   img:nth-of-type(2) {
     position: absolute;
     top: 0;
     left: 0;
     opacity: 0;
     transition: opacity 0.2s ease-in-out;
   }

   &:hover {
     img:nth-of-type(2) {
       opacity: 1;
     }
   }
 }

 .onsale {
   left: auto;
   right: 0;
   padding: 5px 10px;
   font-size: 14px;
   z-index: 5;
   line-height: 1em;
 }

 .woocommerce-loop-product__title {
   font-size: 26px;
   margin: 0 0 15px 0;
 }

 .star-rating,
 .stock {
   margin: 12px 0;
 }

 .stock {
   font-size: 0.9em;
   line-height: 0.9em;
 }

 .price {
   display: block;
   margin-bottom: 12px;
   font-size: 0.9em;
   line-height: 0.9em;
 }

 a.button {
   margin-top: 20px;
 }
}
