@import "~slick-carousel/slick/slick";

.wp-block-gutenbee-slideshow {
  margin: 0;

  &-slider {
    margin: 0;

    &:not(.slick-initialized) {
      > div {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }

    button {
      &.slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 99;
        line-height: normal;
        background: none;
        color: currentColor;
        width: auto;
        height: auto;
        border: 0;
        min-width: auto;
        max-width: 100%;
        padding: 10px;
        margin: 0;
        font-size: 0;
        box-shadow: none;
        cursor: pointer;
        font-style: normal;

        &::before {
          font-family: "gutenbee";
          font-size: 24px;
        }

        &:hover,
        &:active,
        &:focus {
          outline: none;
          border: 0;
          background: none;
          color: currentColor;
          box-shadow: none;
        }

        &.slick-next {
          right: 15px;
          left: auto;

          &::before {
            content: "\E002";
            position: relative;
            top: auto;
            right: auto;
            left: auto;
            font-size: initial;
            bottom: auto;
          }
        }

        &.slick-prev {
          left: 15px;
          right: auto;

          &::before {
            position: relative;
            top: auto;
            right: auto;
            left: auto;
            bottom: auto;
            font-size: initial;
            content: "\E001";
          }
        }
      }
    }

    .slick-dots {
      position: absolute;
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-align: center;
      width: 100%;
      bottom: 20px;

      li {
        display: inline-block;
        margin: 0 3px;

        &::before,
        &::after {
          display: none !important;
        }
      }

      button {
        position: relative;
        text-indent: -999em;
        padding: 0;
        margin: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        color: inherit;
        background-color: currentColor;
        border: 0;
        opacity: 0.5;
        transition: opacity .18s ease;
        box-shadow: none;
        min-width: auto;
        max-width: 100%;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
          background-color: currentColor;
          opacity: 1;
          box-shadow: none;
          border: 0;
        }

        &::before,
        &::after {
          display: none;
        }
      }

      .slick-active {
        button {
          opacity: 1;
        }
      }
    }
  }

  &-item {
    img {
      width: 100%;
      border: 0;
      background: none;
      box-shadow: none;
      padding: 0;
      margin: 0;
    }
  }
}

.components-panel__body {
  .components-notice {
    margin: 0 0 15px;
  }
}
