[data-type="gutenbee/image"] {
  .block-editor-media-placeholder__cancel-button {
    width: 100%;
    text-align: center;
  }
}

.wp-block-gutenbee-image {
  margin: 0;
  padding: 0;
  position: relative;
}

.block-editor-block-list__block[data-type="gutenbee/image"][data-align="center"] {
	.wp-block-gutenbee-image {
		margin-left: auto;
		margin-right: auto;
	}

	&[data-resized="false"] .wp-block-gutenbee-image > div {
		margin-left: auto;
		margin-right: auto;
	}
}
