@import 'common';

.wp-block-gutenbee-iconbox {
  margin: $base-block-vertical-spacing 0;

  .wp-block-gutenbee-iconbox-title {
    margin: 0 0 15px;
  }

  p {
    margin: 0 0 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
