{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "bugfixes": true
      }
    ],
    [
      "@babel/preset-react",
      {
        "pragma": "wp.element.createElement"
      }
    ]
  ]
}
