{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "bugfixes": true,
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    [
      "@babel/preset-react",
      {
        "pragma": "wp.element.createElement"
      }
    ]
  ]
}
