.gutenbee-heading-wrap {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.gutenbee-heading-toolbar {
  .components-button {
    &.has-icon {
      padding: 0 !important;
      min-width: 38px !important;

      &::before {
        left: 3px;
        right: 3px;
      }
    }
  }
}
