.wp-block-gutenbee-container {
  display: flex;
  position: relative;
  z-index: 1;

  &-description {
    display: block;
    margin: -20px 0 30px;
    font-size: 12px;
    font-style: italic;
  }

  &-background {
    position: absolute;
    width: 100%;
   	height: 100%;
   	top: 0;
   	left: 0;
    z-index: -1;

    @include media-breakpoint-down(lg) {
      background-attachment: scroll !important;
    }
  }
}
