@import 'common';

.wp-block-gutenbee-container {
  min-height: 100px;
}

.wp-block-gutenbee-container-inner {
  width: 100%;
}

.wp-block-gutenbee-container-row {
  display: block;

  .editor-block-list__layout {
  	margin-left: 0;
  	margin-right: 0;

  	.editor-block-list__block {
  		max-width: none;
  	}
  }

  > .block-editor-inner-blocks {
    > .block-editor-block-list__layout {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: inherit;
      margin-left: -15px;
      margin-right: -15px;

      > [data-type="gutenbee/column"] {
        display: flex;
        flex-direction: column;

        // This flex rule fixes an issue in IE11.
        flex: 1 1 auto;
        width: 100%;
        min-width: 0;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        flex-basis: calc(50% - 44px);
        flex-grow: 1;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 0;
        margin-bottom: 0;

        // Prevent long unbroken words from overflowing.
        word-break: break-word; // For back-compat.
        overflow-wrap: break-word; // New standard.

        // Force 1 column layouts to span the whole width
        &:only-of-type {
          flex-basis: 100%;
        }

        > .wp-block-gutenbee-column {
          height: 100%;

          > .wp-block-gutenbee-column-content {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            height: 100%;
          }
        }
      }
    }
  }

  > .editor-inner-blocks {
    > .editor-block-list__layout {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: inherit;
      margin-left: -15px;
      margin-right: -15px;

      // Set full heights on Columns to enable vertical alignment preview
      > [data-type="gutenbee/column"],
      > [data-type="gutenbee/column"] > .editor-block-list__block-edit,
      > [data-type="gutenbee/column"] > .editor-block-list__block-edit > div[data-block],
      > [data-type="gutenbee/column"] > .editor-block-list__block-edit .wp-block-gutenbee-column,
      > [data-type="gutenbee/column"] > .editor-block-list__block-edit .wp-block-gutenbee-column-content {
        display: flex;
        flex-direction: column;

        // This flex rule fixes an issue in IE11.
        flex: 1 1 auto;

        // IE11 does not support `position: sticky`, so we use it here to serve correct Flex rules to modern browsers.
        @supports (position: sticky) {
          flex: 1;
        }
      }

      > [data-type="gutenbee/column"] {
        width: 100%;
        min-width: 0;
        padding-left: 0;
        padding-right: 0;
        flex-basis: calc(50% - 44px);
        flex-grow: 1;
        margin-left: 30px;
        margin-right: 30px;

        // Prevent long unbroken words from overflowing.
        word-break: break-word; // For back-compat.
        overflow-wrap: break-word; // New standard.

        // Force 1 column layouts to span the whole width
        &:only-of-type {
          flex-basis: 100%;
        }

        > .editor-block-list__block-edit {
          margin-top: 0;
          margin-bottom: 0;

          &::before {
            left: 0;
            right: 0;
          }

          > [data-block] {
            margin-top: 0;
            margin-bottom: 0;
          }

          > .editor-block-contextual-toolbar {
            margin-left: -$border-width;
          }

          .wp-block-gutenbee-column-content > .editor-inner-blocks {
            margin-top: -$default-block-margin;
            margin-bottom: -$default-block-margin;
          }
        }
      }
    }
  }
}

[data-type="gutenbee/container"] {
  &[data-align="full"] {
    .wp-block-gutenbee-container-row {
      > .block-editor-inner-blocks {
        > .block-editor-block-list__layout {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }

  &[data-theme-grid] {
    max-width: none !important;
    margin-left: -10px;
    margin-right: -10px;

    &::before {
      display: none !important;
    }

    > .wp-block-gutenbee-container  > .wp-block-gutenbee-container-inner {
      max-width: 940px;
      margin-left: auto;
      margin-right: auto;
    }

    > .wp-block > .wp-block-gutenbee-container  > .wp-block-gutenbee-container-inner {
      max-width: 940px;
      margin-left: auto;
      margin-right: auto
    }

    &[data-align="full"] > .wp-block > .wp-block-gutenbee-container  > .wp-block-gutenbee-container-inner {
      max-width: 970px;
    }

    > .editor-block-list__block-edit {
      > div[data-block] {
        > .wp-block-gutenbee-container {
          > .wp-block-gutenbee-container-inner {
            max-width: 1080px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
}

/**
 * Add extra padding when the parent block is selected, for easier interaction.
 */
[data-type="gutenbee/container"].is-selected > .block-editor-block-list__block-edit > [data-block] .wp-block-gutenbee-container-row > .block-editor-inner-blocks,
[data-type="gutenbee/container"].has-child-selected > .block-editor-block-list__block-edit > [data-block] .wp-block-gutenbee-container-row > .block-editor-inner-blocks,
[data-type="gutenbee/column"].is-selected > .block-editor-block-list__block-edit > [data-block] .wp-block-gutenbee-column-content > .block-editor-inner-blocks,
[data-type="gutenbee/column"].has-child-selected > .block-editor-block-list__block-edit > [data-block] .wp-block-gutenbee-column-content > .block-editor-inner-blocks {
	padding: $block-padding;

	// Negate this padding for the placeholder.
	> .components-placeholder {
		width: calc(100% + #{$block-padding * 2});
	}
}

.gutenbee-controls-notice {
  font-weight: 300;
  margin: -15px 0 20px 0;
  display: inline-block;
}
