@import 'common';

.wp-block-gutenbee-container {
  overflow: hidden;

  &.gutenbee-alignwide {
    margin-left: calc(-100vw / 2 + 100% / 2) !important;
    margin-right: calc(-100vw / 2 + 100% / 2) !important;
    max-width: 100vw;
    width: calc(100vw - 10px);
  }
}
