.wp-block-gutenbee-accordion {
  min-height: 120px;

  &-item-title {
    padding: 15px 15px 5px;
    margin-bottom: 0;
    background-color: rgba($border-color, .5);
    font-size: 18px;
    line-height: 1.5;
    border: 1px solid rgba($border-color, .5);

    textarea {
      background-color: transparent;
    }
  }

  &-item-content {
    padding: 15px;
    border: 1px solid rgba($border-color, .5);
    border-top: 0;
  }
}
