@use './common' as *;

.gutenbee-icon-block-select-value {
  display: flex;
  align-items: center;

  svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    flex: none;
  }
}

.gutenbee-icon-select-control {
  position: relative;
}

.gutenbee-icon-select-preview {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 1;
  display: flex;
  align-items: center;
}

.gutenbee-icon-select-preview-icon {
  width: 20px;
  height: 20px;
  display: block;
}

.gutenbee-icon-select-control select,
.gutenbee-icon-select-control .components-select-control__input,
.gutenbee-icon-select-control .components-base-control__field select {
  padding-left: 55px !important;
}
