@import 'common';
@import '~react-select/dist/react-select';

.gutenbee-icon-block-select-value {
  display: inline-flex;
  align-items: center;

  .ep-icon-module {
    margin-right: 5px;
    min-width: 17px;
    font-size: 16px;
  }

  .is-open .Select-control & {
    opacity: .35;
  }
}
