@use './common' as *;
@use 'react-select/dist/react-select' as *;

.gutenbee-icon-block-select-value {
  display: flex;
  align-items: center;

  svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    flex: none;
  }

  .is-open .Select-control & {
    opacity: 0.35;
  }
}

.Select-menu-outer {
  z-index: 20;
}
