@font-face {
	font-family: "ep-icon-module";
	src: url('../fonts/ep-icon-module.eot');
	src: url('../fonts/ep-icon-module.eot?#iefix') format('eot'),
		url('../fonts/ep-icon-module.woff2') format('woff2'),
		url('../fonts/ep-icon-module.woff') format('woff'),
		url('../fonts/ep-icon-module.ttf') format('truetype'),
}

.ep-icon-module:before {
	font-family: "ep-icon-module";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.ep-icon-module-add-bag:before {
	content: "\E001";
}

.ep-icon-module-air-conditioning:before {
	content: "\E002";
}

.ep-icon-module-alarm:before {
	content: "\E003";
}

.ep-icon-module-american-express:before {
	content: "\E004";
}

.ep-icon-module-bag-return:before {
	content: "\E005";
}

.ep-icon-module-bag:before {
	content: "\E006";
}

.ep-icon-module-bar:before {
	content: "\E007";
}

.ep-icon-module-baseball:before {
	content: "\E008";
}

.ep-icon-module-basket-ball:before {
	content: "\E009";
}

.ep-icon-module-basket:before {
	content: "\E00A";
}

.ep-icon-module-bathrobe:before {
	content: "\E00B";
}

.ep-icon-module-bathroom:before {
	content: "\E00C";
}

.ep-icon-module-bowling-ball:before {
	content: "\E00D";
}

.ep-icon-module-boxing-glove:before {
	content: "\E00E";
}

.ep-icon-module-breakfast:before {
	content: "\E00F";
}

.ep-icon-module-calculator:before {
	content: "\E010";
}

.ep-icon-module-car-rental:before {
	content: "\E011";
}

.ep-icon-module-cart:before {
	content: "\E012";
}

.ep-icon-module-concierge:before {
	content: "\E013";
}

.ep-icon-module-coupon:before {
	content: "\E014";
}

.ep-icon-module-credit-card:before {
	content: "\E015";
}

.ep-icon-module-cricket:before {
	content: "\E016";
}

.ep-icon-module-delta-credit-card:before {
	content: "\E017";
}

.ep-icon-module-disabled:before {
	content: "\E018";
}

.ep-icon-module-discover-credit-card:before {
	content: "\E019";
}

.ep-icon-module-diving:before {
	content: "\E01A";
}

.ep-icon-module-dollar-currency:before {
	content: "\E01B";
}

.ep-icon-module-dumbbell:before {
	content: "\E01C";
}

.ep-icon-module-elevator:before {
	content: "\E01D";
}

.ep-icon-module-euro-currency:before {
	content: "\E01E";
}

.ep-icon-module-fitness-center:before {
	content: "\E01F";
}

.ep-icon-module-free-toiletries:before {
	content: "\E020";
}

.ep-icon-module-gavel:before {
	content: "\E021";
}

.ep-icon-module-gift:before {
	content: "\E022";
}

.ep-icon-module-globe:before {
	content: "\E023";
}

.ep-icon-module-golf-ball:before {
	content: "\E024";
}

.ep-icon-module-hairdryer:before {
	content: "\E025";
}

.ep-icon-module-heating:before {
	content: "\E026";
}

.ep-icon-module-iron:before {
	content: "\E027";
}

.ep-icon-module-jcb-credit-card:before {
	content: "\E028";
}

.ep-icon-module-laundry:before {
	content: "\E029";
}

.ep-icon-module-linens:before {
	content: "\E02A";
}

.ep-icon-module-lounge:before {
	content: "\E02B";
}

.ep-icon-module-maestro-credit-card:before {
	content: "\E02C";
}

.ep-icon-module-mail:before {
	content: "\E02D";
}

.ep-icon-module-mastercard-card:before {
	content: "\E02E";
}

.ep-icon-module-medal:before {
	content: "\E02F";
}

.ep-icon-module-minibar:before {
	content: "\E030";
}

.ep-icon-module-mobile-app:before {
	content: "\E031";
}

.ep-icon-module-newspapers:before {
	content: "\E032";
}

.ep-icon-module-no-smoking:before {
	content: "\E033";
}

.ep-icon-module-parking:before {
	content: "\E034";
}

.ep-icon-module-paypal:before {
	content: "\E035";
}

.ep-icon-module-pets:before {
	content: "\E036";
}

.ep-icon-module-piggy-bank:before {
	content: "\E037";
}

.ep-icon-module-ping-pong:before {
	content: "\E038";
}

.ep-icon-module-pool-ball:before {
	content: "\E039";
}

.ep-icon-module-pool:before {
	content: "\E03A";
}

.ep-icon-module-pound-currency:before {
	content: "\E03B";
}

.ep-icon-module-radio:before {
	content: "\E03C";
}

.ep-icon-module-refrigerator:before {
	content: "\E03D";
}

.ep-icon-module-restaurant:before {
	content: "\E03E";
}

.ep-icon-module-rollers:before {
	content: "\E03F";
}

.ep-icon-module-rugby-ball:before {
	content: "\E040";
}

.ep-icon-module-ruler:before {
	content: "\E041";
}

.ep-icon-module-rupee-currency:before {
	content: "\E042";
}

.ep-icon-module-safe:before {
	content: "\E043";
}

.ep-icon-module-satellite-channels:before {
	content: "\E044";
}

.ep-icon-module-search:before {
	content: "\E045";
}

.ep-icon-module-secure:before {
	content: "\E046";
}

.ep-icon-module-shower:before {
	content: "\E047";
}

.ep-icon-module-shuttle-service:before {
	content: "\E048";
}

.ep-icon-module-shuttlecock:before {
	content: "\E049";
}

.ep-icon-module-skating:before {
	content: "\E04A";
}

.ep-icon-module-ski:before {
	content: "\E04B";
}

.ep-icon-module-slippers:before {
	content: "\E04C";
}

.ep-icon-module-smoking:before {
	content: "\E04D";
}

.ep-icon-module-soccer-ball:before {
	content: "\E04E";
}

.ep-icon-module-solo-credit-card:before {
	content: "\E04F";
}

.ep-icon-module-soundproof:before {
	content: "\E050";
}

.ep-icon-module-spa:before {
	content: "\E051";
}

.ep-icon-module-star:before {
	content: "\E052";
}

.ep-icon-module-sun-deck:before {
	content: "\E053";
}

.ep-icon-module-support:before {
	content: "\E054";
}

.ep-icon-module-tag:before {
	content: "\E055";
}

.ep-icon-module-telephone:before {
	content: "\E056";
}

.ep-icon-module-tennis-ball:before {
	content: "\E057";
}

.ep-icon-module-toilet:before {
	content: "\E058";
}

.ep-icon-module-towels:before {
	content: "\E059";
}

.ep-icon-module-transport:before {
	content: "\E05A";
}

.ep-icon-module-trophy:before {
	content: "\E05B";
}

.ep-icon-module-tv:before {
	content: "\E05C";
}

.ep-icon-module-visa-credit-card:before {
	content: "\E05D";
}

.ep-icon-module-visa-electron:before {
	content: "\E05E";
}

.ep-icon-module-volley-ball:before {
	content: "\E05F";
}

.ep-icon-module-wifi:before {
	content: "\E060";
}

.ep-icon-module-yen-currency:before {
	content: "\E061";
}
