//
// Other admin styles unrelated to blocks particularly
// (i.e. option page styles).
//

//
// Options Page
//

.gutenbee-settings-container {
  display: flex;
}

.gutenbee-settings-sidebar {
  flex: none;
  margin-left: auto;
  padding-left: 20px;

  @media (max-width: 767px) {
    display: none;
  }
}
