.wp-block-gutenbee-review {
  display: flex;
  margin: 0;
  align-items: center;

  .wp-block-gutenbee-review-rating-final-score {
    flex: 1 1 25%;
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
      padding-left: 0;
    }
  }

  .wp-block-gutenbee-review-rating-final-score > strong,
  .wp-block-gutenbee-review-rating-final-score-value {
    font-weight: bold;
    letter-spacing: -.1em;
    line-height: .8;
    margin-bottom: 0;
  }

  .wp-block-gutenbee-review-rating-final-score > p {
    margin-bottom: 0;
  }

  .wp-block-gutenbee-review-rating-final-score-subtitle {
    p {
      margin-bottom: 0;
    }
  }
}

