.wp-block-gutenbee-divider {
  display: flex;
  align-items: center;
  justify-content: center;

  &.align-left {
    justify-content: flex-start;
  }

  &.align-right {
    justify-content: flex-end;
  }
}
