@import '~slick-carousel/slick/slick';

.wp-block-gutenbee-slideshow {
  margin-bottom: 1.5rem;

  .slick-arrow {
 		position: absolute;
 		top: 50%;
 		transform: translateY(-50%);
 		z-index: 1001;
 		line-height: normal;
 	}

 	.slick-next {
 		right: 15px;
 	}

 	.slick-prev {
 		left: 15px;
 	}

  .slick-dots {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    width: 100%;
    bottom: 20px;

    li {
      display: inline-block;
      margin: 0 3px;
    }

    button {
      position: relative;
      text-indent: -999em;
      padding: 0;
      margin: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $white;
      border: 0;
    }
  }
}
