$content-spacing-base: 30px !default;

// TODO Gutenberg default blocks resets here ignore
// Probably all Gutenberg blocks needs a 30px spacing top/bottom
// Maybe expect buttons or when we don't have alignment options

.entry-content,
.wp-block-column {
  > [class^="wp-block-"] {
    margin-bottom: $content-spacing-base;
  }
}

// Blockquote block needs styling (both versions probably and pull quote)
// https://d.pr/i/zT34fH

// Reset fitvids from blocks that take care of aspect ratio responsiveness
// Q: What are we going to do here with
.wp-block-embed {
  .fluid-width-video-wrapper {
    position: relative;
    padding: 0 !important;
  }
}

.entry-content {

  // Audio embed with caption https://d.pr/i/8fTL6y
  .wp-block-audio {
    margin-bottom: 1.5em;

    audio {
      width: 100%;
      margin: 0;
    }
  }

  // Video embed with caption https://d.pr/i/U4SBPp
  .wp-block-video {
    margin-bottom: 1.5em;

    video {
      width: 100%;
      margin: 0;
    }
  }
}

// Widget blocks: Comments & Latest posts
// Reset colors of dates and add some currentColor and opacity for distinction


// Embeds:
// Nullify all bottom margins from their iframes
// Add top and bottom margin
// Remove fitvids from them with ignore option (.wp-block-embed)

// Separator block
.wp-block-separator {
  margin: $content-spacing-base 0;
}

// Latest comments block
.wp-block-latest-comments {
  padding-left: 0;
}

// Columns block
.wp-block-columns {
  margin-left: -$content-spacing-base / 2;
  margin-right: -$content-spacing-base / 2;
}

.wp-block-column {
  padding-left: $content-spacing-base / 2;
  padding-right: $content-spacing-base / 2;
}
