.wp-block-gutenbee-tabs {
  margin: $base-block-vertical-spacing 0;

  &-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  &-nav-item {
    padding: 10px 12px;
    cursor: pointer;
    line-height: normal;
  }

  &-nav-item-active {
    background-color: $blue;
    color: $white;
    border-radius: 3px 3px 0 0;
  }

  &-tab-content-wrap {
    padding: 15px;
    border: 1px solid $border-color;

    :last-child {
      margin-bottom: 0;
    }
  }
}
