@import '~zurb-twentytwenty/scss/twentytwenty-no-compass';

.wp-block-gutenbee-image-comparison {
  margin: $base-block-vertical-spacing 0;

  &.twentytwenty-container {
    img {
      position: absolute;
      background: none;
      border: 0;
      padding: 0;
      box-shadow: none;
      margin: 0;
    }
  }
}
