.wp-block-gutenbee-imagebox {
  display: flex;
  // Default alignment: 'left'
  text-align: left;
}

.wp-block-gutenbee-imagebox-figure {
  margin: 0;
  padding: 0;
  flex: none;
}

.wp-block-gutenbee-imagebox-content {
  flex: auto;
}

.wp-block-gutenbee-imagebox-align-left {
  text-align: left;

  .wp-block-gutenbee-imagebox-figure {
    margin-right: 15px;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .wp-block-gutenbee-imagebox-figure {
      margin-bottom: 15px;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
}

.wp-block-gutenbee-imagebox-align-center {
  text-align: center;
  flex-direction: column;
  justify-content: center;

  .wp-block-gutenbee-imagebox-figure {
    margin-bottom: 15px;
  }
}

.wp-block-gutenbee-imagebox-align-right {
  text-align: right;

  .wp-block-gutenbee-imagebox-figure {
    margin-left: 15px;
    order: 2;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .wp-block-gutenbee-imagebox-figure {
      order: 0;
      margin-left: auto !important;
      margin-right: auto !important;
      margin-bottom: 15px;
    }
  }
}

.wp-block-gutenbee-imagebox-content-align-left {
  text-align: left;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.wp-block-gutenbee-imagebox-content-align-center {
  text-align: center;
}

.wp-block-gutenbee-imagebox-content-align-right {
  text-align: right;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}
