@import 'common';

.wp-block-gutenbee-imagebox {
  margin: $base-block-vertical-spacing 0;

  .wp-block-gutenbee-imagebox-title {
    margin: 0 0 15px;
    border: 0;
    padding: 0;

    &::before,
    &::after {
      display: none;
    }
  }

  p {
    margin: 0 0 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    background: none;
    box-shadow: none;
    margin: 0;
  }
}
