.gutenbee-gallery-component {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: -8px;
}

.gutenbee-gallery-item {
  padding: 8px;
  width: 33.333333%;
  max-width: 33.333333%;
  position: relative;
  flex-grow: 1;
  justify-content: center;

  figure {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
  }

  .is-selected {
    outline: 4px solid $blue;
    outline-offset: -4px;
  }

  img {
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.gutenbee-gallery-item-inline-menu {
  padding: 2px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $blue;
  display: inline-flex;
  z-index: 20;

  .components-button,
  .gutenbee-button {
    color: $white;
  }
}

.gutenbee-gallery-item-remove {
  padding: 0;
}
