@keyframes gutenbee-spinner-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@mixin spinner($color: #fff, $opacity: 0.35, $size: 40px, $border-width: 6px) {
  border: $border-width solid rgba($color, $opacity);
  border-top-color: rgba($color, $opacity * 2.5);
  border-radius: 100%;
  height: $size;
  width: $size;
  animation: gutenbee-spinner-rotate 0.8s infinite linear;
}
