@import 'common';

.wp-block-gutenbee-post-types {
  a {
    // Prevent clicking on links leading to articles
    pointer-events: none;
    text-decoration: none;
  }
}

.ci-split-field {
  display: flex;
  margin: 0 -5px;

  .components-base-control {
    width: 50%;
    padding: 0 5px;
  }
}

.gutenbee-post-types-block-style-item {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  align-items: center;
  justify-content: center;

  .block-editor-block-preview__container,
  .block-editor-block-styles__item-preview {
    display: none !important;
    height: 0 !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

.gutenbee-post-types-block-editor-block-styles {
  .block-editor-block-preview__container,
  .block-editor-block-styles__item-preview {
    display: none !important;
    height: 0 !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }

  .gutenbee-post-types-block-style-item {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
  }
}

.wp-block-gutenbee-post-types-navigation-load-more {
  pointer-events: none;
}
