//
// Text controls
//

// TODO: Temporarily hide the label on Gutenberg's FontSizePicker
// component as we want to display our own label. Remove this
// when they support custom labels.
.gutenbee-font-size-control {
  .components-base-control__field {
    .components-base-control__label {
      display: none;
    }
  }

  > .components-base-control__label {
    margin-bottom: 4px;
  }
}
