@import './style';

.wp-block-gutenbee-product-category-list {
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  a {
    pointer-events: none;
  }

  .wp-block-gutenbee-product-category-list__content {
    list-style: none;
  }

  .wp-block-gutenbee-product-category-list__item {
    img {
      margin-bottom: 15px;
    }

    .count {
      background-color: transparent;
    }
  }

  &.wp-block-gutenbee-product-category-list__slider {
    position: relative;
  }
}

.gutenbee-product-category-list-repeater-wrap {
  .gutenbee-product-category-list-repeater-item {
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(148, 148, 148);
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;

    > div {
      flex: 1 1 100%;

    }

    .gutenbee-control-background-image-actions-wrapper {
      display: flex;
      border-bottom: 1px solid rgba(148, 148, 148, .5);

      .gutenbee-control-background-image-placeholder {
        flex-basis: 25%;
        height: 80px;
        border: 0;

        + .gutenbee-control-background-image-actions {
          height: 80px;
          border: 0;
          padding: 0;
          flex: auto;
          justify-content: flex-end;
        }
      }
    }

    > button {
      margin: 20px auto 0;
    }
  }

  .gutenbee-control-background-image-actions {
    margin-bottom: 15px;
  }
}
