.wp-block-gutenbee-testimonial {
  display: flex;
  flex-direction: column;
  margin: 0;

  .gutenbee-testimonial-avatar,
  .block-editor-media-placeholder {
    order: 1;
    margin: 0;

    .wp-block {
      margin: 0;
    }
  }

  .wp-block-testimonial-content-wrapper {
    order: 2;
  }

  .gutenbee-block-testimonial__citation {
    order: 3;
  }

  .gutenbee-block-testimonial__info {
    order: 4;
  }

  &.gutenbee-testimonial-avatar-bottom {
    .gutenbee-testimonial-avatar,
    .block-editor-media-placeholder {
      order: 3;
    }

    .gutenbee-block-testimonial__citation {
      order: 4;
    }

    .gutenbee-block-testimonial__info {
      order: 5;
    }
  }

  &.gutenbee-testimonial-avatar-top,
  &.gutenbee-testimonial-avatar-bottom {
    .gutenbee-testimonial-avatar {
      margin-bottom: 20px;
    }
  }

  &.gutenbee-testimonial-avatar-right {
    .gutenbee-testimonial-avatar,
    .block-editor-media-placeholder {
      margin-left: 20px;
    }

    @media (max-width: 767px) {
      .gutenbee-testimonial-avatar,
      .block-editor-media-placeholder {
        order: 1;
        text-align: center;
        margin-bottom: 20px;
      }

      .gutenbee-testimonial-content-citation-wrapper {
        order: 2;
      }
    }

    @media (min-width: 768px) {
      flex-direction: row;

      .gutenbee-testimonial-avatar {
        margin-left: 20px;
      }
    }

    .gutenbee-testimonial-content-citation-wrapper {
      flex: 1 1 75%;
    }

    .wp-block-testimonial-content-wrapper {
      align-self: center;
    }
  }

  &.gutenbee-testimonial-avatar-left {
    .gutenbee-testimonial-avatar,
    .block-editor-media-placeholder {
      margin-right: 20px;
    }

    @media (max-width: 767px) {
      .gutenbee-testimonial-avatar,
      .block-editor-media-placeholder {
        text-align: center;
        order: 1;
        margin-bottom: 20px;
      }

      .gutenbee-testimonial-content-citation-wrapper {
        order: 2;
      }
    }

    @media (min-width: 768px) {
      flex-direction: row-reverse;

      .gutenbee-testimonial-avatar {
        margin-right: 20px;
      }
    }

    .gutenbee-testimonial-content-citation-wrapper {
      flex: 1 1 75%;
    }

    .wp-block-testimonial-content-wrapper {
      align-self: center;
    }
  }

  &.is-style-circle-mask,
  &.is-style-rounded {
    .gutenbee-testimonial-avatar {
      img {
        border-radius: 999px;
      }
    }
  }
}
