.wp-block-gutenbee-testimonial {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 0;

  .gutenbee-testimonial-avatar {
    order: 1;
    margin: 0;
  }

  .wp-block-testimonial-content-wrapper {
    order: 2;
  }

  .gutenbee-block-testimonial__citation {
    order: 3;
  }

  .gutenbee-block-testimonial__info {
    order: 4;
    margin-bottom: 0;
  }

  &.gutenbee-testimonial-avatar-bottom {
    .gutenbee-testimonial-avatar {
      order: 2;
    }

    .wp-block-testimonial-content-wrapper {
      order: 1;
    }
  }

  &.gutenbee-testimonial-avatar-top,
  &.gutenbee-testimonial-avatar-bottom {
    .gutenbee-testimonial-avatar {
      margin-bottom: 20px;
    }
  }

  &.gutenbee-testimonial-avatar-right {
    @media (max-width: 767px) {
      .gutenbee-testimonial-avatar {
        text-align: center;
        order: 1;
        margin-bottom: 20px;
      }

      .gutenbee-testimonial-content-citation-wrapper {
        order: 2;
      }
    }

    @media (min-width: 768px) {
      flex-direction: row;

      figure {
        margin-left: 20px;
      }
    }

    .gutenbee-testimonial-content-citation-wrapper {
      flex: 1 1 75%;
    }

    .wp-block-testimonial-content-wrapper {
      align-self: center;
    }
  }

  &.gutenbee-testimonial-avatar-left {
    @media (max-width: 767px) {
      .gutenbee-testimonial-avatar {
        text-align: center;
        order: 1;
        margin-bottom: 20px;
      }

      .gutenbee-testimonial-content-citation-wrapper {
        order: 2;
      }
    }

    @media (min-width: 768px) {
      flex-direction: row-reverse;

      figure {
        margin-right: 20px;
      }
    }

    .gutenbee-testimonial-content-citation-wrapper {
      flex: 1 1 75%;
    }

    .wp-block-testimonial-content-wrapper {
      align-self: center;
    }
  }
}
